include ../mixins/check

mixin filter(data)
	.filter(class= attributes.class)
		p.filter__title= data.title

		each val in data.checks
			+check({
				id: val.id,
				text: val.text,
				space: true
			})