//TODO Колонки неправильно растягиваются по вертикали

include ../mixins/news

mixin news-wrap(data)
	.news-wrap.container
		.row.main__space-col
			.col-lg-6.news-wrap__col
				.news-wrap__item
					+news(data[0], 'news_img_top')

			.col-lg-6.news-wrap__col
				.news-wrap__item.news-wrap__item_sm
					+news(data[1])
				.news-wrap__item.news-wrap__item_sm
					+news(data[2])

			- var i = 3;
			- while (true) {
				if (!data[i])
					- break;

				.col-lg-6.news-wrap__col
					.news-wrap__item
						+news(data[i])

				- i++;
			- }

		.news-wrap__btn-wrap
			a.btn.btn_arrow(href='#') Все новости