$name: fancybox;

.#{$name} {
	position: relative;
	cursor: pointer;
	text-align: center;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color-fog-darkblue url($path + 'img/icons/lens.svg') no-repeat center / 25%;
		opacity: 0;
		transition: $duration / 2 ease;
	}

	&:hover {

		&::after {
			opacity: 1;
		}
	}

	&__item {
		@extend .#{$name};

		&::after {
			@extend .#{$name}::after;
		}
	}

	&_has-item {

		&::after {
			display: none;
		}

		&:hover {

			.#{$name} {
				// =====

				&::after {
					opacity: 1;
				}
			}
		}
	}
}