$name: admin;

.#{$name} {
	border: 1px solid $color-gray;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;

	&__personal {
		padding: 1rem;
	}

	&__img {
		background: no-repeat center / cover;
		margin: 3rem auto;
		height: 15rem;
		width: 15rem;

		&_contain {
			background-size: contain;
		}
	}

	&__name {
		color: $color-second;
		margin: .5em 0;
	}

	&__position {
		color: $color-second;
		font-style: italic;
		font-size: 1.4rem;
	}

	&__info-wrap {
		word-break: break-word;
		padding: 1rem;
		text-align: center;
		margin-top: auto;
		font-size: 1.4rem;
	}

	&__info-i {
		display: inline-block;
		text-align: left;
	}
}