$name: card;

.#{$name} {
	border: 1px solid $color-gray;
	height: 100%;
	display: flex;
	flex-direction: column;

	&__img-wrap {
		display: block;
		padding-bottom: 66%;
		overflow: hidden;
		position: relative;
	}

	&__img {
		position: absolute;
		top: 2.5rem;
		bottom: 2.5rem;
		left: 2.5rem;
		right: 2.5rem;
		background: no-repeat center / contain;
		transition: $duration ease;
	}

	&__text-wrap {
		padding: 2.5rem;
		background: $color-second-light;
		color: white;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title-wrap {
		text-align: center;
		margin-bottom: 2rem;
		font-weight: 500;

		&:last-child {
			margin: 0;
		}
	}

	&__title {
		border-color: transparent;

		&:hover {
			border-color: transparent;
		}
	}

	&__desc {
		margin: 0 0 .8rem;

		&:last-child {
			margin: 0;
		}
	}

	&__desc-name {
		font-weight: 500;
		display: inline-block;
	}

	&__desc-val {
		display: inline-block;
	}

	&_thin {

		.#{$name} {

			&__img {
				top: 1rem;
				bottom: 1rem;
				left: 2rem;
				right: 2rem;
			}

			&__text-wrap {
				padding: 1rem 2rem;
			}
		}
	}

	&_cover {

		.#{$name} {

			&__img {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-size: cover;
				background-image: url($path + 'img/content/no-image.jpg');
			}
		}
	}
}

a.#{$name} {

	&__img-wrap {

		&:hover {

			.#{$name}__img {
				transform: scale(1.05);
			}
		}

		&:active {

			.#{$name}__img {
				transform: scale(.95);
			}
		}
	}
}