$name: check;

.#{$name} {
	font-size: 1.4rem;

	&__input {
		display: none;

		&:checked {

			+ label {

				&::before {
					background-image: url($path + 'img/icons/tick.svg');
				}

				&:hover {

					&::before {
						background-image: url($path + 'img/icons/tick-hover.svg');
					}
				}
			}
		}
	}

	&__label {
		display: block;
		padding-left: 1.8em;
		position: relative;
		cursor: pointer;

		&::before {
			content: '';
			display: block;
			width: 1em;
			height: 1em;
			position: absolute;
			left: 0;
			top: .2em;
			border: 1px solid $color-gray;
			background: white no-repeat center / contain;
			color: transparent;
		}

		&:hover {
			color: $color-main;

			&::before {
				border-color: $color-main;
			}
		}
	}

	&_space {

		.#{$name}__label {
			padding-top: .5em;
			padding-bottom: .5em;

			&::before {
				top: .7em;
			}
		}
	}
}