$name: ext;

.#{$name} {
	display: flex;
	align-items: flex-end;

	&:hover {
		color: $color-main;
	}

	&:active {
		color: $color-main-active;
	}

	&__img {
		height: 2em;
		width: 1.8em;
		margin-right: .5em;
	}

	&__wrap {

	}

	&__text {

	}

	&__ext {

	}
}