$name: ext;

.#{$name} {
	display: flex;
	align-items: flex-end;
	position: relative;
	padding: $ext-space 0;

	&:hover {
		color: $color-main;
	}

	&:active {
		color: $color-main-active;
	}

	&__img {
		height: 2em;
		width: $ext-img-space;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__wrap {
		padding-left: $ext-img-space + .5em;
	}

	&__text {

	}

	&__ext {

	}
}