$name: ext;

.#{$name} {
	display: flex;
	align-items: flex-end;

	&:hover {
		color: $color-main;
	}

	&:active {
		color: darken($color-main, 15%);
	}

	&__img {
		height: 2em;
		margin-right: .5em;
	}

	&__wrap {

	}

	&__text {

	}

	&__ext {

	}
}