$name: footer;

.#{$name} {
	flex: none;
	padding: $space / 2 0;
	background: linear-gradient(to bottom, $color-footer-1, $color-footer-2);
	color: white;
	font-size: 1.4rem;

	&__wrap {
		text-align: center;

		@include screen-sm() {
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {

		@include screen-sm(max) {
			margin-bottom: 5rem;
		}
	}

	&__i {
		text-align: center;

		@include screen-sm() {
			text-align: right;
		}
	}

	&__webc {
		margin-bottom: 1rem;
	}

	&__webc-text,
	&__webc-link {
		display: inline-block;
		vertical-align: middle;
	}

	&__webc-text {
		margin-right: 1rem;
	}

	&__webc-img {
		display: block;
		width: 5rem;
		fill: white;

		&:hover {

			.cls-1 {
				fill: $color-webcenter-2;
			}

			.cls-2 {
				fill: $color-webcenter-1;
			}
		}
	}

	&__copyright {

	}
}