$name: grid;

.#{$name} {
	display: flex;
	flex-wrap: wrap;

	&__col {
		width: 100%;
		padding: 15px;
		border: 1px solid $color-gray;
		border-top-color: transparent;

		@include screen-sm() {
			padding: 3rem 6rem;
		}

		&:first-child {
			border-top-color: $color-gray;
		}

		&:nth-child(2) {

			@include screen-sm() {
				border-top-color: $color-gray;
			}
		}

		&_sm_6 {

			@include screen-sm() {
				width: 50%;
			}

			&:nth-child(even) {

				@include screen-sm() {
					border-left-color: transparent;
				}
			}
		}
	}
}