$name: img;

.#{$name} {
	display: block;
	margin: $space / 2 auto;

	&_space_big {
		margin: $space auto;
	}

	&_left {

		@include screen-sm() {
			margin-top: 0;
			float: left;
			margin-right: $space / 2;
			max-width: 60%;
		}
	}

	&_right {

		@include screen-sm() {
			margin-top: 0;
			float: right;
			margin-left: $space / 2;
			max-width: 60%;
		}
	}
}