$name: main;

.#{$name} {
	flex: auto;
	position: relative;
	padding-top: $space / .75;

	@include screen-lg() {
		padding-top: $space * 2;
	}

	&__space-col {
		padding-bottom: 30px;
	}

	&__space {
		margin: $space 0;
	}

	&__space-top {
		margin-top: $space;
	}

	&__space-bot {
		margin-bottom: $space;
	}

	&__space-big {
		margin: $space * 2;
	}

	&__space-top-big {
		margin-top: $space * 2;
	}

	&__space-bot-big {
		margin-bottom: $space * 2;
	}

	&__space-top-half {
		margin-top: $space / 2;
	}

	&__space-bot-half {
		margin-bottom: $space / 2;
	}

	&__cat-wrap {
		max-width: 320px;
		margin: 0 auto 30px;

		@include screen-lg() {
			margin-bottom: $space;
			flex-grow: 1;
		}
	}

	&__ext-wrap {
		display: inline-block;
		margin-bottom: 1em;
		margin-top: -($ext-space);
	}

	&__vert-line {
		display: flex;
		justify-content: center;

		&::after {
			content: '';
			width: 1px;
			background: $color-text-light;
		}
	}

	&__bread {
		margin: ($space / 2) 0;
	}

	&__link-wrap {
		display: inline-block;
		text-align: left;

		@include screen-sm() {
			text-align: left;
			display: flex;
			justify-content: space-between;
		}
	}

	&__link-col {
		margin-bottom: $space / 2;

		@include screen-sm() {
			margin: 0;
		}
	}

	&__link-i {
		display: inline-flex;
		align-items: center;

		&_space {
			margin-left: 2.6rem;
		}
	}

	&__link-icon {
		width: 1.6rem;
		height: 1.6rem;
		fill: white;
		margin-right: 1rem;
	}

	&__text-wrap {
		margin-bottom: $ext-space;
		overflow: hidden;
	}

	&__l-icon {
		margin: 1em 0;
	}

	&__flex {
		display: flex;
	}

	&_space-top_none {
		padding-top: 0;

		@include screen-lg() {
			padding-top: 0;
		}
	}
}