$name: news-wrap;

.#{$name} {

	&__col {
		padding-bottom: 15px;

		@include screen-lg() {
			padding-bottom: 30px;
		}
	}

	&__item {

		@include screen-lg() {
			height: 100%;
		}

		&_sm {

			@include screen-lg() {
				height: 50%;
			}

			&:first-child {
				padding-bottom: 15px;
			}

			&:last-child {

				@include screen-lg() {
					padding-top: 15px;
				}
			}

			&:only-child {

				@include screen-lg() {
					padding-top: 0;
				}
			}
		}
	}

	&__btn-wrap {
		text-align: center;

		@include screen-sm() {
			text-align: right;
		}
	}
}