$name: pharos;

.main__padding-col {
	padding: 2.5rem;
}

.card__img-pharos {
	margin: 2.5rem auto;
}

.img__logo {
	background: no-repeat center / contain;
	padding-bottom: 50%;
}

.pharos-img {
	background: no-repeat center / contain;
	padding-bottom: 50%;
}

.icon__pharos {
	width: 30px;
	height: 30px;
	margin-left: .5rem;
	background: no-repeat center;
}