$name: pharos;

.#{$name} {
	border: 1px solid $color-gray;
	height: 100%;

	&__img-wrap {
		position: relative;
		width: 100%;
		padding-bottom: 45%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: no-repeat center / cover;
	}

	&__text-wrap {
		margin: 2.5rem;
	}
}

.main__padding-col {
	padding: 2.5rem;
}

.card__img-pharos {
	margin: 2.5rem auto;
}

.img__logo {
	background: no-repeat center / contain;
	padding-bottom: 50%;
}

.pharos-img {
	background: no-repeat center / contain;
	padding-bottom: 50%;
}

.icon__pharos {
	width: 30px;
	height: 30px;
	margin-left: .5rem;
	background: no-repeat center;
}