$name: subcats;

.#{$name} {
	overflow: hidden;

	@include screen-sm() {
		display: flex;
		flex-wrap: wrap;
	}

	&__btn {
		display: block;
		margin-bottom: 15px;

		@include screen-sm() {
			margin-bottom: $space / 2;
			padding: 0 ($space / 4);
			flex-grow: 1;
		}

		@include screen-lg() {
			max-width: 50%;
		}
	}
}