$name: text;

.#{$name} {

	ul {
		list-style-type: none;
		margin: 1em 0;

		li {
			position: relative;
			padding-left: 2em;
			margin: .75em 0;

			&::before {
				content: '';
				width: 1em;
				height: 1em;
				position: absolute;
				left: 0;
				top: .25em;
				background: url($path + 'img/icons/list.svg') no-repeat center / contain;
			}
		}
	}

	img {
		border: 2px solid lighten($color-gray, 10%);
	}

	&_white {
		color: white;

		a {

			&:not([class]),
			&[class=''] {
				color: white;
				border-color: darken(white, 50%);

				&:hover {
					color: $color-main;
					border-color: rgba(lighten($color-main, 20%), .5);
				}

				&:active {
					color: $color-main-active;
				}
			}
		}
	}
}