$name: title;

.#{$name} {
	font-size: 4.8rem;
	text-align: center;
	font-weight: 400;
	margin-bottom: $space / 2;
	line-height: 1.1;

	&_sm {
		font-size: 3.6rem;
	}

	&_lg {
		font-size: 6rem;
		font-weight: 700;
	}

	&_left {
		text-align: left;
	}

	&_space_half {
		margin-bottom: $space / 4;
	}

	&_white {
		color: white;
	}
}