node_modules/
.idea/
npm-debug.log
/app/img/backup/
/layout/
!/layout/.gitkeep
!/layout/notes.txt
/app/sprites/
!/app/sprites/.gitkeep
/dist/
/production/
/temp/
/ftp/
/app/html2pug/
!/app/html2pug/index.html