include svg

mixin cat(data)
	a.cat(
		class= attributes.class
		href= data.link
		style='background-image: url(' + data.img + ');'
	)
		.cat__wrap
			+svg(data.icon, 'cat__icon')
			p.cat__name= data.name