mixin ext(data)
	a.ext(href= data.link class= attributes.class)
		img.ext__img(src='img/icons/files/' + data.ext + '.svg')
		.ext__wrap
			span.ext__text= data.text + ' '
			span.ext__ext= '(.' + data.ext + ')'