include svg

mixin ext(data)
	a.ext(href= data.link class= attributes.class)

		if data.ext
			+svg(data.ext, 'ext__img')
		else
			+svg('no-doc', 'ext__img')

		.ext__wrap
			span.ext__text= data.text + ' '

			if data.ext
				span.ext__ext= '(.' + data.ext + ')'