mixin input(options)
	- var tag = options.textarea ? 'textarea' : 'input';
	- var classes = '';

	if (options.cls)
		each val, i in options.cls
			- classes += 'input_' + val;
			- if (options.cls.length > i + 1) {
				- classes += ' ';
			- }

	label.input(class= classes || '')

		if tag === 'input'
			input.input__item(type='text')

		if tag === 'textarea'
			textarea.input__item

		span.input__title= options.title