mixin prize(data)
	.prize
		.prize__img-wrap
			.prize__img-i.fancybox(
				data-src= data.img
				data-caption= data.text
				data-fancybox='group'
			)
				img(src= data.img)
		.prize__info= data.text