mixin slider(data)
	.slider(class= attributes.class)

		each val in data
			.slider__item
				.slider__i(style="background-image: url('" + val.img + "');")
					.container
						.row
							.col-sm-9
								h1.slider__title
									b= 'ОАО ' + global[0].name + ' '
									| является одним из основных в стране производителей судовой арматуры. Ассортимент выпускаемой продукции и оказываемых услуг чрезвычайно широк по своему направлению, содержанию и характеристикам.'