include ../mixins/bread

.section.section_space-bot_none

.section.section_space-bot_none
	.container
		h1.title.title_left.title_lg= page.title

.section
	.container
		a.btn(href= global[0].link_home) Вернуться на главную