include ../mixins/bread
include ../mixins/card
include ../components/filter

.section.section_space-bot_none
    .container
        +bread(class= 'main__bread')
        h1.title= page.title

.section
    .container
        hr.main__space-bot
        h2.title.main__space-bot Типы изделий

        .row
            .col-sm-12

            .col-sm-12
                .row

                    each val in card_catalog_2
                        .col-sm-6.col-md-4.col-lg-3.main__space-col
                            +card(val)