include ../mixins/bread

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg= page.title

.section.section_space-bot_none
	.container
		include ../components/subcats
		hr

.section
	.container
		h2.title.main__space-bot История завода

		.text.main__space-bot
			p В соответствии с архивными данными открытое акционерное общество «Завод «Буревестник» начало свою производственную деятельность 13 октября 1924 года на базе кооперативной артели «Юпитер», выпускавшей бытовые металлоизделия.
			p
				b= 'С 1931 года '
				| артель стала называться «Цветметштамп».
				b= ' В 1944 году '
				| после освобождения Гатчины от немецко-фашистских захватчиков на базе довоенной артели «Цветметштамп» была организована артель «Гатчинский металлист», которая в 1960 году в период организации Совнархозов, была преобразована в завод «Гатчинский металлист» с ориентацией на судовое машиностроение. В июле 1967 года в связи с реорганизацией промышленности завод «Гатчинский металлист» переименован в электромеханический завод «Буревестник» Министерства судостроительной промышленности СССР.
			p В этот период начался переход на выпуск судовой арматуры, в том числе дистанционно-управляемых исполнительных механизмов для кораблей и судов всех классов и назначений, товаров народного потребления, технических средств защиты головы и лица. Велось строительство новых производственных корпусов, жилья и объектов социальной сферы.
			p В 1994 году завод был преобразован в Акционерное общество открытого типа «Завод «Буревестник». В 2002 году АООТ «Завод Буревестник» переименован в ОАО «Завод Буревестник».
			p За более 90 лет с момента основания ОАО «Завод «Буревестник» стал одним из ведущих предприятий, производящих судовую арматуру для нужд Военно-морского флота России. В современных условиях ОАО «Завод «Буревестник» находится в числе лидеров машиностроительной отрасли в Ленинградской области, работает стабильно, сохраняет и прочно удерживает репутацию надежного партнера, обеспечивает высокий уровень качества выпускаемой продукции.
			img.img.img_space_big(src="img/content/factory.jpg" alt='')
			p В настоящее время завод является многопрофильным предприятием, специализирующимся на выпуске: судовой арматуры; теплообменных аппаратов; судовых охладителей воды и масла; арматуры для нефтегазопромыслов и топливно-энергетического комплекса; индивидуальных средств защиты головы: шлемов для мотоциклистов, касок защитных, наушников противошумных, щитков сварщика и слесаря; замочно-скобяных изделий; изделий из пластмасс. Предприятие также самостоятельно занимается обслуживанием и ремонтом собственных систем жизнеобеспечения.
			p За годы существования ОАО «Завод «Буревестник» и представители трудового коллектива неоднократно награждались различными государственными и ведомственными наградами. Главной наградой предприятия и его гордостью является орден Трудового Красного Знамени, которым завод был награжден в 1984 году за большие заслуги в создании, испытании и освоении производства новой техники.
			p Сегодня ОАО «Завод «Буревестник» динамично развивается. На предприятии реализуется программа технического переоснащения, внедряются современные технологии, происходит постоянное освоение новых изделий, разрабатываются перспективные планы развития, и неуклонно наращиваются объемы производства и реализации продукции. Система менеджмента качества, принятая на предприятии, направлена на разработку и производство продукции, полностью удовлетворяющей требованиям и ожиданиям заказчиков и потребителей.
			p В динамике последних лет прослеживается устойчивая тенденция роста объемов выпуска товарной продукции, которая имеет все необходимые лицензии и сертификаты.
			p Год от года растет значимость ОАО «Завод «Буревестник» и как социально-ответственного предприятия. За последние несколько лет отремонтированы и введены в эксплуатацию большой и малый детский плавательные бассейны заводского спортивного комплекса «Маяк», что несомненно имеет большое значение не только для работников завода, но и для жителей города Гатчина и Гатчинского района.
			p В 2014 году за заслуги в области развития производства и экономики Ленинградской области трудовой коллектив предприятия был награжден Почетным дипломом Губернатора Ленинградской области.
			p Положительная оценка деятельности завода была отмечена Администрацией Гатчинского муниципального района Ленинградской области и в 2015 и 2016 годах ОАО «Завод «Буревестник» было включено во Всероссийский Реестр «Книга Почета».

		a.btn.btn_arrow(href="#") Посмотреть структуру управления