include ../mixins/bread

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg= page.title

.section
	.container
		include ../components/subcats

		hr.main__space-bot
		h2.title.main__space-bot История завода

		.text.main__space-bot
			p
				| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности
				| обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении
				| поставленных задач. Задача организации, в особенности же новая модель организационной деятельности способствует
				| подготовки и реализации соответствующий условий активизации.
			p
				| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности
				| обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении
				| поставленных задач. Задача организации, в особенности же новая модель организационной деятельности способствует
				| подготовки и реализации соответствующий условий активизации.
			p
				| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности
				| обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении
				| поставленных задач. Задача организации, в особенности же новая модель организационной деятельности способствует
				| подготовки и реализации соответствующий условий активизации.
			img.img-center(src="img/content/no-image.jpg")
			p
				| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности
				| обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении
				| поставленных задач. Задача организации, в особенности же новая модель организационной деятельности способствует
				| подготовки и реализации соответствующий условий активизации.
			p
				| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности
				| обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении
				| поставленных задач. Задача организации, в особенности же новая модель организационной деятельности способствует
				| подготовки и реализации соответствующий условий активизации.
			p
				| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности
				| обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении
				| поставленных задач. Задача организации, в особенности же новая модель организационной деятельности способствует
				| подготовки и реализации соответствующий условий активизации.
			p
				| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности
				| обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении
				| поставленных задач. Задача организации, в особенности же новая модель организационной деятельности способствует
				| подготовки и реализации соответствующий условий активизации.
			p
				| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности
				| обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении
				| поставленных задач. Задача организации, в особенности же новая модель организационной деятельности способствует
				| подготовки и реализации соответствующий условий активизации.

		a.btn.btn_arrow(href="#") Посмотреть структуру управления