include ../mixins/slider
include ../mixins/ext
include ../components/news-wrap
include ../components/manufacture

.section.section_space_none
	+slider(slider)
	button.section__next.section__next_big Мы производим

+manufacture

.section.section_space_big
	.container
		h2.title.main__space-bot Новости предприятия

	+news-wrap(news)

.section.section_space-top_big.section_space-bot_none.section_blur(style='background-image: url(img/content/banners/03.jpg);')
	.section__fill.section__fill_lightblue
	.container
		.row
			.col-md-6.col-lg-7.main__space-bot-big
				h3.title.title_sm.title_left.main__space-bot-half Документы
				.main__text-wrap
					p Людмила Юрьевна начала свою трудовую деятельность на Электромеханическом заводе «Буревестник» сразу после окончания Ленинградского института авиационного приборостроения в июле 1992 года инженером по организации управления производством отдела организации труда, заработной платы и экономики.
					p Пройдя долгий и насыщенный трудовой путь на предприятии и благодаря своим деловым и личным качествам, опыту практической работы, грамотному подходу к выполнению служебных обязанностей с апреля 2014 года Людмила Юрьевна назначена на должность начальника экономического управления.
				a.btn.btn_fill(href='juristic-docs.html') Читать далее

			.col-sm-1.main__space-bot-big.main__vert-line.hidden-sm

			.col-md-5.col-lg-4.main__space-bot-big
				h3.title.title_sm.title_left.main__space-bot-half Файлы

				.main__ext-wrap
					each val in ext
						+ext(val)

				div
					a.btn(href='documents.html') Посмотреть другие файлы