.section.section_blur(style='background-image: url(img/content/banners/04.jpg);')
	.section__fill.section__fill_bright
	.container
		h2.title Мы производим

.section
	.container
		h2.title Последние новости

	include ../components/news-wrap