include ../mixins/bread

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title= page.title

.section
	.container
		.text
			ul

				each val in inner_documents
					li
						a(href= val.link)= val.text