include ../mixins/bread
include ../mixins/ext

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg= page.title

.section.section_space-top_half
	.container
		p.main__space-bot Данная страница находится в стадии разработки. Приносим извинения за временные неудобства.
		hr

.section.section_space-top_none
	.container
		.text
			p В настоящее время завод является многопрофильным предприятием, специализирующимся на выпуске: судовой арматуры; теплообменных аппаратов; судовых охладителей воды и масла; арматуры для нефтегазопромыслов и топливно-энергетического комплекса; индивидуальных средств защиты головы: шлемов для мотоциклистов, касок защитных, наушников противошумных, щитков сварщика и слесаря; замочно-скобяных изделий; изделий из пластмасс. Предприятие также самостоятельно занимается обслуживанием и ремонтом собственных систем жизнеобеспечения.
			p За годы существования ОАО «Завод «Буревестник» и представители трудового коллектива неоднократно награждались различными государственными и ведомственными наградами. Главной наградой предприятия и его гордостью является орден Трудового Красного Знамени, которым завод был награжден в 1984 году за большие заслуги в создании, испытании и освоении производства новой техники.

.section.section_space-top_none
	.container
		.row

			- for (var i = 0; i < 3; i++) {
				.col-sm-6.col-lg-4
					.main__ext-wrap-simple

						each val in ext
							+ext(val)
			- }