include ../mixins/bread
include ../components/manufacture

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg= page.title

+manufacture(class= 'main__space-top')

.section
	.container
		.text
			p ОАО #{global[0].name} - многопрофильное предприятие. Ассортимент выпускаемой продукции и оказываемых услуг чрезвычайно широк по своему направлению, содержанию и характеристикам.
			p #{global[0].name} является одним из основных в стране производителей судовой арматуры. Качественно выполненная работа позволяет нам по праву гордиться немалым вкладом в развитие отечественного судостроения. Также на Заводе «Буревестник» освоен выпуск арматуры для нефтегазодобывающей промышленности, предназначенной для работы на коррозионных и не коррозионных проводимых средах. Для топливно-энергетического комплекса завод производит энергетическую арматуру нового поколения – запорные и регулирующие клапаны для газообразных и жидких сред.
			p Помимо промышленной продукции завод выпускает средства индивидуальной защиты, пластмассовые изделия, хозтовары, замочно-скобяные изделия.
			p На предприятии действует система менеджмента качества, соответствующая требованиям ГОСТ Р ИСО 9001-2001 и ГОСТ РВ 15.002-2003.