include ../mixins/bread

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title= page.title

.section.section_space-top_half.section_space-bot_none
	.container
		.text-center
			span.arms
				a.link(href='http://zakupki.gov.ru' target='_blank') http://zakupki.gov.ru

.section.section_space-top_half
	.container
		.text

			p: b 17.10.2017

			.main__space-top-half
				ul
					li: a(href='#') Извещение № 529 о проведении закупки у единственного поставщика (Изготовление и поставка насоса ручного НР-1 ИШУД.063821.001 с ЗИП и комплектом технической документации, клапана обратного КОС-10-1 ИШУД.306138.009-01, клапана предохранительного КП-10-3 ИШУД.306562.008-01, настройка срабатывания 6,5 МПа (65 кг/см2) с ЗИП и комплектом конструкторской документации)
					li: a(href='#') Проект договора
					li: a(href='#') Протокол утверждения закупки

			.main__space-top
				ul
					li: a(href='#') Извещение № 532 о проведении закупки у единственного поставщика (Изготовление и поставка насоса ручного НР-1 ИШУД.063821.001 с ЗИП и комплектом технической документации)
					li: a(href='#') Проект договора
					li: a(href='#') Протокол утверждения закупки

			.main__space-top
				ul
					li: a(href='#') Извещение № 528 о проведении закупки у единственного поставщика (Изготовление и поставка электрослаботочного оборудования: Д3-4, ПК6-13/П, ЭЯ32 Б1-VIII-1/П, Я3777/П, описание и инструкция по обслуживанию «Датчик Д3», техническое описание и инструкция по эксплуатации «Установки телеграфов и указателей переменного тока, паспорт)
					li: a(href='#') Проект договора
					li: a(href='#') Протокол утверждения закупки

			hr.main__space-top

			p.main__space-top: b 11.10.2017

			.main__space-top-half
				ul
					li: a(href='#') Извещение № 529 о проведении закупки у единственного поставщика (Изготовление и поставка насоса ручного НР-1 ИШУД.063821.001 с ЗИП и комплектом технической документации, клапана обратного КОС-10-1 ИШУД.306138.009-01, клапана предохранительного КП-10-3 ИШУД.306562.008-01, настройка срабатывания 6,5 МПа (65 кг/см2) с ЗИП и комплектом конструкторской документации)
					li: a(href='#') Проект договора
					li: a(href='#') Протокол утверждения закупки

			.main__space-top
				ul
					li: a(href='#') Извещение № 532 о проведении закупки у единственного поставщика (Изготовление и поставка насоса ручного НР-1 ИШУД.063821.001 с ЗИП и комплектом технической документации)
					li: a(href='#') Проект договора
					li: a(href='#') Протокол утверждения закупки

			.main__space-top
				ul
					li: a(href='#') Извещение № 528 о проведении закупки у единственного поставщика (Изготовление и поставка электрослаботочного оборудования: Д3-4, ПК6-13/П, ЭЯ32 Б1-VIII-1/П, Я3777/П, описание и инструкция по обслуживанию «Датчик Д3», техническое описание и инструкция по эксплуатации «Установки телеграфов и указателей переменного тока, паспорт)
					li: a(href='#') Проект договора
					li: a(href='#') Протокол утверждения закупки