include ../mixins/bread
include ../mixins/social

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')

.section.section_space-bot_none.section_space-top_half
	.container
		.text
			h1.subtitle.subtitle_lg= 'Девиз кадровой политики ОАО «' + global[0].name + ' — '
				i «Уверенность в завтрашнем дне, профессионализм, стабильность, гарантии»

.section
	.container
		hr.main__space-bot
		h2.title.main__space-bot Мы понимаем
		.text
			ul
				li именно сотрудники создают те самые ценности, которые мы затем называем благополучием нашего предприятия, наших клиентов и партнеров. Коллектив – самый ценный актив нашего завода;
				li система обучения позволяет нашим работникам совершенствоваться в развитии общих компетенций в профессиональной сфере; Мы даем возможность специалистам получить другие смежные профессии, приобрести знания и навыки в руководящей работе, поощряя их карьерный рост.

.section.section_space_big.section_blur(style='background-image: url(img/content/pers-policy/01.jpg);')
	.section__fill.section__fill_lightblue_2
	.container
		h2.title.main__space-bot Мы обеспечиваем
		.text

			.main__social-row

				each val in social_pers_policy_1
					.main__social-col.main__space-bot-half
						+social(val)

.section.section_space_big
	.container
		h2.title.main__space-bot Мы предлагаем
		.text
			ul
				li трудоустройство в соответствии с трудовым законодательством Российской Федерации;
				li коллектив уверенных профессионалов;
				li конкурентоспособную, регулярно индексируемую заработную плату;
				li систему поощрений и доплат:
					ul
						li выслуга лет;
						li к отпуску и др.
				li ежегодные оплачиваемые отпуска (от 28 календарных дней) и дополнительные отпуска (за работу во вредных условиях или с вредными факторами);
				li оплачиваемые больничные листы;
				li оплату обучения и профессиональной переподготовки, возможность получения других смежных профессий, внутреннюю программу профессиональной подготовки;
				li транспортную развозку и служебные автостоянки на территории производственных площадок;
				li при наличии финансовых возможностей предприятия и при стаже работы на заводе от 3-х лет добровольное медицинское страхование работников завода, а также их детей в возрасте от 1 года до 16 лет;
				li профилактические медосмотры, флюорограммы;
				li возможность проживания работникам станочных профессий в общежитии на время работы на заводе;
				li иные социальные бонусы в соответствии с действующими локальными нормативными актами предприятия;
				li членство в заводской профсоюзной организации.

.section.section_space_big(style='background-image: url(img/content/pers-policy/02.jpg);')
	.section__fill.section__fill_darkblue
	.container
		h2.title.title_white.main__space-bot Мы требуем
		.text.text_white

			.main__social-row

				each val in social_pers_policy_2
					.main__social-col.main__space-bot-half
						+social(val)