include ../mixins/bread
include ../mixins/accord
include ../mixins/svg
include ../components/manufacture

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg СК Маяк
		h2.subtitle.main__space-bot Девиз: Сила, Следость и Успех - наш МАЯК открыт для всех!
		hr.main__space-bot

.section
	.container
		.row
			.col-xs-12.col-md-6
				.card.main__space-col
					.card__img-pharos
						.pharos-img(style="background: url(img/content/pharos/1.png);")
					.text.main__padding-col
						h2.subtitle.main__space-bot Большой бассейн
						ul
							li 25 метров, 6 дорожек, 600 куб.м.;
							li современная низко-хлорная система очистки воды, с дополнительным применением ультрафиолетовых установок;
							li 4-х кратная очистка воды в сутки;
							li очистка и водоподготовка осуществляется автоматической станцией Analit-3, производство Германия;
							li имеется балкон для посетителей;
							li посетители бассейна имеют возможность бесплатно посещать сауну;
							li 100% соответствие требованиям САНПИН 2.1.2.1188-03.
			.col-xs-12.col-md-6
				.card.main__space-col
					.card__img-pharos
						.pharos-img(style="background: url(img/content/pharos/2.png);")
					.text.main__padding-col
						h2.subtitle.main__space-bot Малый бассейн
						ul
							li 12м.x5м;
							li 12 кратная очистка воды в сутки;
							li возможность в течении 30 минут изменить глубину от 145 см до 60 см и обратно, что позволяет проводить занятия как с маленькими детьми в группах "Мать и дитя", так и занятия со взрослыми по Аква аэробике;
							li наличие массажной стенки- система с 8-ю массажными форсунками, подающими воду под большим давлением для массажа спины, позвоночника,шеи, ног и пр.для профилактики радикулита, остеохондроза, целлюлита, снижения веса и др.;
							li имеется балкон для посетителей.

			.col-xs-12.col-md-6
				.card.main__space-col
					.card__img-pharos
						.pharos-img(style="background: url(img/content/pharos/3.png);")
					.text.main__padding-col
						h2.subtitle.main__space-bot Спортивный игровой зал
						ul
							li "Игровой манеж" 36м x18м, предназначенный для занятий футболом, волейболом, баскетболом, общей физической подготовкой.
							li Сохранено деревянное покрытие, которое является наименее травмоопасным, чем синтетическое.
							li Имеется балкон для посетителей.
			.col-xs-12.col-md-6
				.card.main__space-col
					.card__img-pharos
						.pharos-img(style="background: url(img/content/pharos/4.png);")
					.text.main__padding-col
						h2.subtitle.main__space-bot Лицензированный медицинский центр "Здоровье"
						ul
							li Галокамера. "Соляная пещера"-назначается с профилактической целью. Показаниями для направления являются заболевания органов дыхания, сердечно-сосудистой системы, патологии ЛОР органов, кожные заболевания, токсикозы беременных, косметический эффект, повышение иммунитета.(требуется консультация специалиста).
							li Массажное кресло (3 шт). Проводит превосходную профилактическую разгрузку мышц шеи, спины, ног, через 15 минут снимает напряжение мышц, усталость, появляется бодрость, а самое главное- восстанавливается баланс мышечного тонуса.(требуется консультация специалиста).
							li Прессотерапия. Ультрасовременное устройство, позволяющее проведение терапии, направленной в первую очередь на лечение лимфатических отеков и улучшение кровоснабжения.(требуется консультация специалиста).
							li Вакуумная терапия. Лечение аппаратом Vakumed- цель улучшение циркуляции в нижней части тела, тренировка сосудов.(требуется консультация специалиста).

.section.section_space_big.section_space-bot.section_blur.main__space-top(style='background-image: url(img/content/social/armat.complex.jpg);')
	.section__fill.section__fill_lightblue
	.container
		h2.title.main__space-bot Наши тренеры-профессианалы
		.row
			.col-xs-6.col-sm-6.col-md-3.col-lg-3.main__space-col
				h2.subtitle.admin__name Андреева Наталья Николаевна
				p Заключение ежегодного "Соглашение по охране труда; Дополнительные меры материальной поддержки работников;
			.col-xs-6.col-sm-6.col-md-3.col-lg-3.main__space-col
				h2.subtitle.admin__name Андреева Наталья Николаевна
				p Заключение ежегодного "Соглашение по охране труда; Дополнительные меры материальной поддержки работников;
			.col-xs-6.col-sm-6.col-md-3.col-lg-3.main__space-col
				h2.subtitle.admin__name Андреева Наталья Николаевна
				p Заключение ежегодного "Соглашение по охране труда; Дополнительные меры материальной поддержки работников;
			.col-xs-6.col-sm-6.col-md-3.col-lg-3.main__space-col
				h2.subtitle.admin__name Андреева Наталья Николаевна
				p Заключение ежегодного "Соглашение по охране труда; Дополнительные меры материальной поддержки работников;

.section
	.container
		h2.title.main__space-bot Наши давние партнеры
		.main__social-row
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/apeks-school.png);")
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/gazprom_phg.png);")
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/Log-1.jpg);")
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/logo_lenenergo.png);")
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/gazprom_phg.png);")
		.main__social-row
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/logots1.png);")
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/titan_fk.jpg);")
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/logo_lenenergo.png);")
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/Log-1.jpg);")
			.main__social-col
				.img__logo(style="background-image:url(img/content/pharos/Log-1.jpg);")

.section.section_space_big.section_blur(style="background-image: url(img/content/banners/01.jpg);")
	.section__fill.section__fill_darker
	.container
		h2.title.title_white.main__space-bot.main__space-top Контакты
		.text.text_white
			.text-center
				.main__link-wrap
					.main__link-col
						.main__link-i
							a(href="tel:+88137120390") +8 (813 71) 2 03 90
					.main__link-col
						.main__link-i
							p г. Гатчина, ул.Чехова д.10
					.main__link-col
						.main__link-i
							p 7.30 -22.00 и по расписанию занятий
					.main__link-col
						.main__link-i
							a.icon__pharos(style="background-image:url(img/content/pharos/vk.svg)")
							a.icon__pharos(style="background-image:url(img/content/pharos/youtube.svg)")