include ../mixins/bread
include ../mixins/svg
include ../mixins/pharos
include ../mixins/coach
include ../mixins/soc-icon

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg СК Маяк

.section.section_space-top_half
	.container
		h2.subtitle.subtitle_big.main__space-bot Девиз: Сила, Смелость и Успех - наш МАЯК открыт для всех!
		hr

.section.section_space-top_none
	.container
		.row

			each val in pharos
				.col-md-6.main__space-col
					+pharos(val)

.section.section_space_big.section_lightblue_2(style='background-image: url(img/content/pharos/bg-coach.jpg);')
	.container
		h2.title.main__space-bot Наши тренеры-профессионалы
		.row

			each val in coach
				.col-sm-6.col-lg-3.main__space-bot-half
					+coach(val)

.section.section_space_big
	.container
		h2.title.main__space-bot Наши давние партнеры

		.partners
			.partners__wrap

				each val in partners
					img.partners__item(src= val)

.section.section_space_big.section_darker(style="background-image: url(img/content/pharos/bg-pharos.jpg);")
	.container
		h2.title.title_white.main__space-bot Контакты

		.text.text_white

			.text-center
				.main__link-wrap.main__link-wrap_center

					- var data = global[1].addresses[0].division[8];

					.main__link-col
						div
							.main__link-i
								+svg('tel', 'main__link-icon')
								a(href= data.contacts[0].tel[0].link)= data.contacts[0].tel[0].name

					.main__link-col
						div
							.main__link-i
								+svg('marker', 'main__link-icon')
								a(href='contacts.html')= data.city + ', ' + data.address

					.main__link-col
						div
							.main__link-i
								+svg('clock', 'main__link-icon')
								div= data.time

					.main__link-col
						.main__soc-icon-wrap

							each val in soc_icon
								+soc-icon(val)(class='soc-icon_white main__soc-icon')