include ../mixins/bread

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg= page.title

.section.section_space-top
	.container
		hr

.section.section_space-top_none
	.container
		h2.title.main__space-bot Политика в области качества
		.text
			p На ОАО «Завод «Буревестник» Система менеджмента качества (СМК) действует с 2001 года. СМК, разработанная на предприятии в соответствии с требованиями ГОСТ Р ИСО 9001-2001 и ГОСТ РВ15.002-2003, внедрена приказом №112 от 27.07.2006г.
			p На соответствие ГОСТ I SO 9001-2011 и ГОСТ РВ 0015-002-2012 СМК сертифицирована в августе 2013 года Органом по сертификации СМК Ассоциация «Северо-западный региональный центр по сертификации и научно-технической экспертизе» - «Петросерт» (аттестат аккредитации № RU.4ОБ00.7101.630008 «Обронсертифика»). В 2016 году пройдена ресертификация СМК, получены новые сертификаты соответствия.
			p Политика в области качества ОАО «Завод «Буревестник» является основой для успешного функционирования и постоянного улучшения Системы Менеджмента качества.

			h3.subtitle.main__space-top-half ЦЕЛЬ
			p: b Основные цели работы ОАО #{global[0].name}:

			ul
				li обеспечение выпуска высококачественной продукции, которая отвечает требованиям отечественных и международных стандартов, удовлетворяет требования потребителей и обеспечивает устойчивую прибыль организации.
				li стабильное и высококачественное выполнение Государственного оборонного заказа в установленные сроки, в соответствии с требованиями Заказчика.

			h3.subtitle.main__space-top-half СТРАТЕГИЯ
			p: b Достижение указанных целей обеспечивается следующими основными направлениями в деятельности руководства организации:
			ul
				li приоритетным решением проблем качества в области инвестиционных, технических, организационных и кадровых вопросов;
				li регламентированной ответственностью сотрудников всех рангов от генерального директора до рабочего за исполнение требований к качеству;
				li действующей системой менеджмента качества организации, с применением процессного подхода и риск-ориентированного мышления;
				li перспективным развитием производства  модернизации производственных мощностей.

.section.section_space-top_none
	.container
		.row

			- var path = 'img/content/quality/';
			- var name = ['01.jpg', '02.jpg', '03.jpg', '04.jpg', '05.jpg'];
			- var cnt = 0;
			each val in name

				if cnt
					.hidden-md.col-lg-1

				.col-sm-6.col-md-4.col-lg-3.main__space-bot-half
					.fancybox(data-src= path + val)
						img(src= path + val)

				if cnt == 2
					- cnt = 0
				else
					- cnt++