include ../mixins/bread
include ../mixins/input

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg= page.title

.section.section_space-bot_half
	.container
		.row
			.col-md-8.col-lg-9.main__space-bot-half
				+input({
					title: 'Введите запрос',
					cls: ['search']
				})

			.col-md-4.col-lg-3.main__space-bot-half
				a.btn.btn_wide(href='#') Искать на сайте