// TODO: Попросить Олю сделать иконку ruble-currency-sign в SVG
// TODO: Отступы сверху и снизу от текста не одинаковые, надо что-то сделать

include ../mixins/bread
include ../mixins/social

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title= page.title

.section
	.container
		.text
			p Социальная политика ОАО «Завод «Буревестник» является неотъемлемой частью стратегии развития предприятия в области мотивации сотрудников.

.section.section_space_big.section_blur(style='background-image: url(img/content/social.jpg);')
	.section__fill.section__fill_lightblue_2
	.container
		h2.title.main__space-bot Коллективный договор
		.text
			p На предприятии в соответствии с трудовым кодексом Российской Федерации между администрацией общества в лице Генерального директора и работниками общества в лице Председателя профсоюзного комитета заключается Коллективный договор, который в установленном порядке регистрируется в Комитете по труду и занятости населения правительства Ленинградской области.
			p Коллективный договор является правовым нормативным актом, регулирующий социально-трудовые отношения по направлениям:

				.main__social-row.main__space-top.main__space-bot-half

					each val in social
						.main__social-col.main__space-bot-half
							+social(val)

				p
					b= 'Защита трудовых прав работников, '
					| в которых определены условия взаимоотношений, в том числе:
			ul
				li Ежегодное повышение заработной платы;
				li ДМС (Добровольное медицинское страхование);
				li Страхование детей работников от 1 года до 16 лет;
				li Аттестация рабочих мест;
				li Заключение ежегодного «Соглашения по охране труда»;
				li Дополнительные меры материальной поддержки работников.

.section
	.container
		.text
			p Большое внимание предприятие уделяет поддержанию здоровья трудящихся, поэтому ОАО «#{global[0].name} продолжает развивать услуги в собственном спортивном комплексе «Маяк». На сегодня спорткомплекс выполняет функции оздоровления и профилактики заболеваемости : имеет два бассейна (взрослый и детский) с современной системой фильтрации и очистки воды, игровой спортивный зал, тренажерный зал, лицензированный медицинский центр. Проводятся групповые занятия: Аквааэробика, «Мать и дитя».
			p Работникам завода и их детям абонементы предоставляются по льготной цене, а членам профсоюза абонемент оплачивает профсоюзная организация.
			p СК «Маяк» работает и на благо жителей г. Гатчины и Гатчинского района, которые уже не первый год посещают спортивный комплекс.
			p На предприятии с 1969 года имеется собственное общежитие, вместимостью 116 комнат, для проживания работников завода. Иногородние граждане также могут пользоваться услугами заводского общежития.