html {
	height: 100%;
	font-size: 8px;

	@include screen-md() {
		font-size: 9px;
	}

	@include screen-xl() {
		font-size: 10px;
	}
}

body {
	height: 100%;
	font-size: 1.6rem;
	font-family: $font-main;
	color: $color-text;
	line-height: 1.4;

	&.noscroll {
		overflow: hidden;
	}
}

input,
textarea {
	//-webkit-appearance: none;
	//border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

textarea {
	resize: none;
}

hr {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;

	&:not([class]),
	&[class=''] {
		color: $color-text;
		border-bottom: 1px solid lighten($color-text, 30%);

		&:hover {
			color: $color-second;
			border-bottom-color: transparent;
		}

		&:active {
			color: darken($color-second, 15%);
			border-bottom-color: transparent;
		}
	}
}

img {
	max-width: 100%;
	max-height: 100%;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 1em 0;
}

::selection {
	background: $color-main;
	color: white;
}

.justify-content-between {
	justify-content: space-between;
}

.hidden-xs {

	@include screen-sm(max) {
		display: none !important;
	}
}

.hidden-sm {

	@include screen-md(max) {
		display: none !important;
	}
}

.hidden-md {

	@include screen-lg(max) {
		display: none !important;
	}
}

.hidden-lg {

	@include screen-xl(max) {
		display: none !important;
	}
}