$name: aside;

.#{$name} {
	font-weight: 500;
	list-style-type: none;
	color: $color-text;
	position: absolute;
	top: 100%;
	right: 0;
	border: 1px solid $color-gray;
	width: 100%;
	display: none;

	@include screen-sm() {
		width: auto;
		right: -15px;
	}

	&__item {
		position: relative;

		&:hover {

			.#{$name}__sub {

				@include screen-sm() {
					display: block;
				}
			}
		}

		&:last-child {

			.#{$name} {

				&__link {
					border-bottom: none;
				}
			}
		}

		&_opened {

			.#{$name} {
				// =====

				&__arrow {

					&::before {
						transform: translate(-50%, -50%) rotate(-180deg);
					}
				}
			}
		}
	}

	&__link {
		display: block;
		padding: .5em 5rem .5em 2em;
		background: white;
		border-bottom: 1px solid lighten($color-gray, 15%);
		position: relative;

		@include screen-sm() {
			padding-right: 1em;
		}

		&:hover {
			background: $color-main;
			color: white;

			.#{$name} {
				// =====

				&__arrow {
					color: $color-text;
				}
			}
		}

		&:active {
			background: $color-main-active;
		}

		.#{$name} {
			// =====

			&__arrow {

				&:hover {
					color: white;
				}
			}
		}

		&_active {

		}
	}

	&__arrow {
		position: absolute;
		top: 0;
		right: 0;
		width: 4rem;
		height: 100%;
		background: white;
		cursor: pointer;
		border-left: 1px solid lighten($color-gray, 15%);
		font-size: 2rem;

		@include screen-sm() {
			display: none;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: $duration ease transform;
		}

		&:hover {
			background: $color-main;
		}

		&:active {
			background: $color-main-active;
		}
	}

	&__sub {
		list-style-type: none;
		display: none;

		@include screen-sm() {
			position: absolute;
			top: -1px;
			right: 100%;
			border: 1px solid $color-gray;
			min-width: 25rem;
		}
	}

	&__sub-item {

		&:last-child {

			.#{$name} {

				&__sub-link {

					@include screen-sm() {
						border-bottom: none;
					}
				}
			}
		}
	}

	&__sub-link {
		@extend .#{$name}__link;
		padding-right: 1em;

		@include screen-sm(max) {
			padding-left: 4em;
		}
	}
}