include ../mixins/logo
include ../mixins/svg/logo-webc

// FOOTER
footer.footer
	.container
		.footer__wrap
			+logo(class='footer__logo')

			.footer__i
				p.footer__webc
					span.footer__webc-text Разработано
					a.footer__webc-link(href='https://webcenter.pro/' target='_blank')
						+logo-webc(class= 'footer__webc-img')

				p.footer__copyright= '© 2007–2017 ОАО ' + global[0].name