$name: runner;

.#{$name} {
	display: flex;
	justify-content: space-between;
	min-height: 100%;

	&__wrap {
		display: block;
		text-align: left;
		flex-grow: 1;
		margin-right: 1rem;
	}

	&__title {
		display: block;
		font-size: 1.4rem;
		font-style: italic;
		color: $color-text-light;
	}

	&__cost {
		@extend .input__item;
		width: 4.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		cursor: default;
		font-size: 1.4rem;

		&_empty {
			font-style: italic;
			font-size: 1rem;
			color: $color-text-light;
		}
	}

	&__item {
		display: block;
		background: $color-second-light;
		height: .6rem;
		margin: 0 1rem;
		box-sizing: content-box;
		padding: .7rem 0;
		background-clip: content-box;
		cursor: pointer;

		&:hover {
			background-color: $color-main;

			.runner {
				// =====

				&__handle {
					border-color: $color-main;
					transform: scale(1.2);
				}
			}
		}

		&:active {
			background-color: $color-main;

			.runner {
				// =====

				&__handle {
					border-color: $color-main;
					background: $color-main;
					transform: scale(1.2);
				}
			}
		}
	}

	.runner__rail {
		height: .6rem;
		margin-top: .7rem;
		background: $color-gray;
	}

	.runner__handle {
		width: .8rem;
		height: .8rem;
		top: 0;
		left: 0;
		background: white;
		border: 6px solid $color-second-light;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
		transition: transform $duration / 2 ease-in-out, background $duration / 2 ease-in-out;
	}
}