extends layouts/default

block vars
	-
		page = {
			title: 'Приглашаем вас посетить наш спортивно-оздоровительный комплекс «Маяк» в новом сезоне 2017 года',
			link: 'news-detail.html'
		}

block content
	include pages/news-detail